header {
    width: 100%;
}

nav {
    background-color: #20222998;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 0.2rem;
    position: fixed;
    /* max-height: 10%; */

}

nav a {
    color: white;
    text-decoration: none;
}

.nav-socials a {
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
}

.nav-socials button {
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: teal;
    border: solid white;
    padding: 20px;
}

.nav-items a {
    font-weight: bold;
    font-size: 16px;
    padding: 20px;
}

.nav-logo img {
    border-radius: 50px;
    width: 90px;
    height: 90px;
}

.bg-image {
    background-image: url(../assets/images/sea3.jpg);
    background-size: 100%;
    width: 100%;
    height: 90vh;
    /* position: relative; */
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bio-h1 {
    background-color: #507FCF70;
    width: 20%;
    height: 30%;
    padding: 40px 30px;
    font-size: 20px;
    color: white;
}

.bio-h1 button {
    width: 60%;
    margin-top: 10%;
    background: rgba(0, 0, 0, 0.116);
    border: solid 1px white;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 20px 20px;
}

.bio-h2 {
    background-color: #FFFFFF;
    width: 20%;
    height: 30%;
    padding: 40px 30px;
    font-size: 20px;
    font-weight: bold;
    align-content: center;
    color: #232F55;
}

.bio-h2 img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.services {
    max-width: 100%;
}

.services h1 {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
    font-size: 50px;
    color: #7B7B7B;
}

.sub-service {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    justify-content: center;
    padding-left: 6%;
    padding-right: 4%;
}

.sub-service img {
    width: 90%;
    padding-bottom: 1rem;
    border-top-right-radius: 20px;
    /* image-rendering: smooth; */
    /* image-rendering: high-quality; */
}

.sub-service p {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.6;
    padding-top: 1rem;
}

.sub-service a {
    color: #5871c2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding-top: 40px;
    text-decoration: none;
}

.main-cont1 {
    padding-top: 100px;
    background-color: #F1FBFF;
    background-image: url(../assets/images/cargo3.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 5rem;
    width: 100%;
    /* margin-bottom: 5rem; */

}

.main-cont2 {
    margin-left: 85px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    border-width: 1140px;
    padding-bottom: 5rem;

}

.track-warehouse {
    width: 40%;

}

.invite {
    width: 40%;
    text-align: center;
}

.invite p {
    color: teal;
}

.invite h2 {
    color: #7B7B7B;
    font-size: 40px;
    margin-bottom: 22px;

}

.invite button {
    padding: 10px 30px;
    font-size: large;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: teal;
    border: solid rgb(19, 17, 17) thin;


}

.invite a {
    text-decoration: none;
    color: white;
}

.track-warehouse a {
    font-weight: bold;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #5871c2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.track-warehouse img {
    width: 39px;
    height: 43px;
    margin-left: auto;
    padding-left: 30px;
    border-left: 1px solid rgb(112, 136, 168);
    padding-right: 20px;
}

.tracking {
    width: 80%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.tracking p {
    color: #7B7B7B;
    width: 90%;
    padding-top: 16px;
    padding-bottom: 14px;

}

.warehouses {
    width: 80%;
    background-color: white;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.warehouses p {
    color: #7B7B7B;
    width: 90%;
    padding-top: 16px;
    padding-bottom: 16px;
}

.main-cont3 {

    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #F1FBFF;
    padding-bottom: 4rem;
}

.cont3-img {
    width: 50%;
}

.cont3-img img {
    width: 100%;
    height: 100%;
}

.cus-service {
    background-color: #2B5C50;
    width: 50%;
    padding-left: 60px;
}

.cus-service h2 {
    padding-top: 90px;
    font-size: 40px;
    width: 80%;
    color: white;
    border-bottom: 1px solid white;
}

.procurement {
    padding-top: 40px;
    display: flex;
    justify-content: space-evenly;
}

.procurement h3 {
    font-weight: bold;
    padding-bottom: 20px;
    color: rgb(35, 35, 37);
}

.procurement p {
    padding-bottom: 22px;
    color: white;
    width: 70%;
}

.procurement a {
    text-decoration: none;
    color: gold;
    padding-right: 5px;
    border-right: 1px solid white;
}

.logistic1 {
    margin-right: 2rem;
    border-right: 1px solid wheat;
}

.qoutation {
    margin: auto;

    width: 80%;
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.qoute-intro {
    width: 35%;
}

.qoute-intro h1 {
    font-size: 44px;
    color: #232F55;
    margin-bottom: 22px;
}

.qoute-intro p {
    font-size: 18px;
    color: #232f5560;
    width: 90%;
    margin-bottom: 32px;
}

.qoute-intro a {
    text-decoration: none;
    color: white;
    width: 218px;
    padding: 15px;
    font-size: 16px;
    background-color: teal;
}

.forms {
    width: 40%;
    background-color: #2B5C5080;
    padding: 30px;
    border-top: 2px solid teal;
    margin-bottom: 20px;

}

.forms a {
    text-decoration: none;
    color: white;
    width: 218px;
    padding: 15px;
    font-size: 16px;
    background-color: teal;
    border-left: 1px solid white;

}

.forms input {
    border: none;
    border-right: 2px solid teal;

}

.forms label {
    color: #232F55;
}

.form1 {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

}

.form2 input {
    width: 90%;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

.form2 {
    display: flex;
    justify-content: space-evenly;

}

.form3 {
    display: flex;
    justify-content: space-evenly;

}

.form3 input {
    width: 50%;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.form4 {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.form4 input {
    width: 80%;
    padding-bottom: 20px;
}

.location {
    width: 100%;
}

.google-map {
    padding-bottom: 40%;
    position: relative;
}

.google-map iframe {
    width: 100%;
    height: 80%;
    left: 0;
    position: absolute;
}

.directory {
    width: 40%;
    position: absolute;
    z-index: 1;
    margin-top: 40px;
    margin-bottom: 20px;
    right: 0;
}

.directory h2 {
    width: 46.4%;
    font-size: 24px;
    background-color: teal;
    text-align: center;
    color: white;
    padding-top: 18px;
    padding-bottom: 18px;
}

.available {
    padding-left: 29px;
    padding-top: 29px;
    padding-right: 29px;
    padding-bottom: 30px;
    width: 35.6%;
    background-color: white;
    color: #7B7B7B;
    line-height: 1.5;



}

.available a {
    text-decoration: none;
}

.available hr {
    margin-bottom: 14px;
    color: teal;
}

#mail {
    padding-bottom: 14px;
}

footer {
    padding-left: 100px;
    margin-top: -9%;
    padding-top: 5%;
    width: 100%;
    background-color: #1D2547;

}

.sub-foot {
    width: 80%;
    margin: auto;
    /* display: flex;
    justify-content: space-evenly;  */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: px;
    grid-row-gap: 0px;
    align-items: center;
}
.sub-foot a {
    color: #c2c5db;
    text-decoration: none;
    line-height: 1.5;
}

.sub-foot h3 {
    font-size: 20px;
    color: wheat;
    border-left: 1px solid white;
}
.sub-foot ul {
    list-style: none;
    padding-top: 5%;
   
}
.foot1 p {
    width: 70%;
    padding-top: 5%;
    color: #c2c5db;
}

.footer-socials {
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 5%;

    width: 40%;
}